body {
    margin: 0;
    padding: 0;
}



.grid{
display: grid;
grid-template-columns: 1fr 4fr 4fr ;
grid-template-rows: 1fr 5fr 5fr 2fr;
height: 100vh;
}

.box{
background-color: blue;
border: 2px solid black ;

}

.logo{
background-color: rgb(238, 107, 107);
color: white;
grid-column: 1/2;
display: flex;
align-items: center;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;

}


.menu{

color: white;
grid-column: 2/4;
grid-row: 1/2;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
background-image: url(https://i.pinimg.com/1200x/db/2f/a9/db2fa9f65de613359b9d7203ad29f71c.jpg);
background-size: cover;
background-position: center;
gap: 30px;
}

.anchor{
color: white;
transition: margin-bottom 0.30s;
}

.anchor:hover{
margin-bottom: 10px;
}

.hero{

color: white;
grid-column: 1/4;
grid-row: 2/3;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg);
background-size: cover;
background-position: center;

}



.hero-text{
color: white;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
transition: margin-right 0.30s , text-decoration 1s;
cursor: pointer;
}

.hero-text:hover{
margin-right: 30px;
text-decoration: underline;
}
.hero-text-2{
color: white;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
width: 100px;
margin-left: 30px;
line-height: 90px;
transition: margin-left 0.30s ;
cursor: pointer;
}

.hero-text-2:hover{
margin-left: 30px;
}



.about{
background-color: rgb(251, 151, 114);
color: white;
grid-column: 1/3;
grid-row: 3/4;
}

.about-1{
font-size: 35px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
margin-left: 10px;
}

.about-2{
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
margin-left: 10px;
}

.about-3{
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
margin-left: 10px;}



.image{
background-image: url(https://i.pinimg.com/1200x/ef/02/ca/ef02ca24fb703bff2f66a5b8b88a76ae.jpg);
background-size: cover;
background-position: center;
color: white;
grid-column: 3/4;
grid-row: 3/4;
}


.offer{
background-color: rgb(255, 196, 0);
color: white;
grid-column: 1/3;
grid-row: 4/5;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.offer-text-1{
color: navy;
font-family: arial;
font-size: 29px;
font-weight: 600;
margin-bottom: 15px;
margin-top: 0px;
}

.offer-button{
background-color: navy;
color: white;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border: none;
border-radius: 30px;
cursor: pointer;
font-weight: 600;
transition: opacity 0.30s;
}

.offer-button:hover{
opacity: 0.5;
}

.contact-box{

color: white;
grid-column: 1/3;
grid-row: 4/5;
}


.contact-text{
color: white;
font-family: arial;
font-size: 20px;
margin-left: 10px;
font-size: 600w;
}

@media screen and  (max-width:1200px) {
    .grid{grid-template-columns: 1fr 4fr 4fr ;
grid-template-rows: 1fr 5fr 7fr 2fr 2fr ;}
    
}